{% extends 'base.html' %}
{% block content %}

<section class="container-fluid" style="background-color:rgb(255, 255, 255);">
    <div class="alert alert-light" role="alert">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="d-flex flex-row w-75 mx-auto">
                    <div class="col">
                    <form action="#" method="post" id="filter_form">
                        <div class="row" >
                            <div class='row' style="margin-left: 19px;"> From:</div>
                                <input type="date" name="from_Date"  style="margin-left: 30px; font-size: 20px; width:400px; " 
                                placeholder="From_Date" id="From_Date" required="" > 
                            <div class='row' style="margin-left: 19px;">  To:</div>
                            <input type="date" name="to_Date" style="margin-left: 30px;font-size: 20px; width:400px;" 
                                placeholder="To_Date" id="To_Date" required="" > 
                        </div>
                        
                        <div class="row" >
                            <button type="submit" value="Apply" id="Apply" name="Apply" style=" width:90px; 
                                height:45px; margin-left: 40px; margin-bottom: 30px; margin-top: 10px;"
                                class="btn btn-outline-dark" onclick="this.form.submit()">Apply </button>
                        </form>

                        <button type="submit" value="reset" id="reset" name="reset"class="btn btn-outline-dark" style=" width:90px; 
                                        height:45px;margin-left: 10px; margin-bottom: 30px; margin-top: 10px;"
                                href="{{ url_for('showRecords') }}" onclick="this.form.submit()">Reset</button>
                        </div>
                    </div>


                <div class="col" style="margin-left: 100px;">  
                <a href="/static/testTuneli.xlsx" download="testTuneli.xlsx">          
                  <div class="hoverable2" >
                        <span class="hoverable2__main" style="margin-right: 25px;"></span>
                            <img src="/static/media/logo/csv.jpg" alt="" width="150" height="150">
                        </span>
                        <span class="hoverable2__tooltip">
                            Download data recorded between chosen dates as CSV file <br>
                        </span>
                </div>
                <button class="btn btn-outline-dark" type="submit" id="Download" name="Download"
                value="Download"  style="margin-left: 50px; " onclick="this.form.submit()">Download
            </button>
                  </a> 
                </div>

               <div class="row" style="margin-top: 30px;  margin-left: 75px;">  

                <p class=" d-flex flex-row p-2 m-2 justify-content-center" style='color: grey;'>
                    Scan interval is {{modul0Interval}} min
                </p>
                    <form action="#" method="post" id="interval_form">
                        <label for="interval">Scan Interval:</label>
                        <select name="interval" id="interval">
                          <option selected disabled hidden>Choose</option>
                          <option value="30">120</option>
                          <option value="30">90</option>
                          <option value="60">60</option>
                          <option value="30">45</option>
                          <option value="30">30</option>
                          <option value="15">15</option>
                          
                        </select>
                        <br><br>
                        <button class="btn btn-outline-dark" type="submit" id="set" name="set"
                                value="set" onclick="this.form.submit()" style=" margin-left: 75px;">set interval
                        </button>
                        
                      </form>
            </div> 
                </div>

                {% if ismodule0Working == 1  %}
                <script>
                        document.getElementById("set").disabled = true;
                        document.getElementById("interval").disabled = true;
                    </script>
                {%endif%}
            
            </div>

        <form method="POST" id="page-form">
            <div class="btn-group-horizontal" role="group" style=" margin-left: 50px;">
                <p  style='color: grey;'>
                    Pages: 
                </p>
                {% for page in range(pagenumber) %}
                <input type="radio" class="btn-check" name="recordpage" autocomplete="off" id="{{page}}"
                       value="{{ page }}" onclick="this.form.submit()">
                <label class="btn btn-outline-dark" for="{{ page }}">
                    {{ page }} 
                </label>
                {% endfor %}
            </div>
        </form>

                <table id = "recordings" class="table table-borderless table-responsive">
                    <thead>
                    <tr class="border-bottom text-center">
                        <th scope="col">#</th>
                        <th scope="col">Name </th>
                        <th scope="col">Recording</th>
                        <th scope="col">Information</th>
                    </tr>
                    </thead>
                    {% set counter = 0 %}
                    <tbody>

                    {% for record in range(startrecord, lastrecord) %}
                    <tr id = "hist-row-{{ loop.index }}" class="border-bottom text-center">
                        <th scope="row"> {{ loop.index + startrecord}} </th>
                        <td>{{hists[record].name}}</td>
                        {% set file_name = hists[record].name +'.wav' %}
                        <td>
                            <audio controls>
                                <source src="{{ url_for( 'static' , filename= file_name ) }}" type="audio/wav">
                            </audio>
                        </td>
                        <td class="hoverable">
                            
                            <span class="hoverable__main">
                                data is here
                            </span>
                            <span class="hoverable__tooltip">
                                {{hists[record].info}} 
                            </span>

                        </td>
                        <td>                              
                        <a href="#"><img alt="Delete" title="Delete" style="margin: 2px;" src="/static/media/logo/trash.png" height="24" width="24" onclick="deleteRecording({{ loop.index }});"></a>
                        <a href="#"><img alt="Download" title="Download" style="margin: 2px;" src="/static/media/logo/download.png" height="24" width="24" onclick="deleteRecording({{ loop.index }});"></a>
                    </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</section>

<style>
    .hoverable{
        position: relative;
    }

    .hoverable>.hoverable__tooltip{
        display: none;

        }

    .hoverable:hover>.hoverable__tooltip{
            display: inline;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 30%;
            background-color: rgb(66, 66, 66);
            color: #fff;
            text-align: center;
            border-radius: 5px 5px;
            transition: opacity 1s ease-in-out;
        
        }

    .hoverable2{
        position: relative;
    }

    .hoverable2>.hoverable2__tooltip{
        display: none;

        }

    .hoverable2:hover>.hoverable2__tooltip{
            display: inline;
            position: absolute;
            z-index: 1;
            left: 30px;
            top: 70%;
            background-color: rgb(179, 255, 182);
            color: rgb(0, 163, 238);
            text-align: center;
            border-radius: 10px 10px;
            transition: opacity 1s ease-in-out;
        
        }


        
</style>

<script>
    
        $('form').submit(function () {
        document.body.style.cursor='wait'
        var form1 = $('#interval_form');
        console.log(form1);
        form1.find('input[type="submit"], button[type="submit"], input[type="radio"]').each(function (index) {
            // Create a disabled clone of the submit button
            $(this).clone(false).removeAttr('id').prop('disabled', true).insertBefore($(this));

            // Hide the actual submit button and move it to the beginning of the form
            $(this).hide();
            form1.prepend($(this));
        });
        var form2 = $('#filter_form');
        console.log(form2);
        form2.find('input[type="submit"], button[type="submit"], input[type="radio"]').each(function (index) {
            // Create a disabled clone of the submit button
            $(this).clone(false).removeAttr('id').prop('disabled', true).insertBefore($(this));

            // Hide the actual submit button and move it to the beginning of the form
            $(this).hide();
            form2.prepend($(this));
        });
        });

    
</script>

{% endblock %}
