{% extends 'base.html' %}
{% block content %}

<section class="container-fluid" style="background-color:rgb(255, 255, 255);">
    <div class="alert alert-light" role="alert">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="d-flex flex-row w-75 mx-auto">
                    <div class="col">
                    <form action="#" method="post" id="filter_form">
                        <div class="row" >
                            <div class='row' style="margin-left: 19px;"> From:</div>
                                <input type="date" name="from_Date"  style="margin-left: 30px; font-size: 20px; width:400px; " 
                                placeholder="From_Date" id="From_Date" required="" > 
                            <div class='row' style="margin-left: 19px;">  To:</div>
                            <input type="date" name="to_Date" style="margin-left: 30px;font-size: 20px; width:400px;" 
                                placeholder="To_Date" id="To_Date" required="" > 
                        </div>
                        
                        <div class="row" >
                            <button type="submit" value="Apply" id="Apply" name="'Apply" style=" width:90px; 
                                height:45px; margin-left: 40px; margin-bottom: 30px; margin-top: 10px;"
                                class="btn btn-outline-dark">Apply </button>
                        </form>
                            <a class="btn btn-outline-dark" style=" width:90px; 
                                        height:45px;margin-left: 10px; margin-bottom: 30px; margin-top: 10px;"
                                href="{{ url_for('showRecords') }}">Reset</a>
                        </div>
                    </div>


                <div class="col" style="margin-left: 100px;">  
                <a href="/static/testTuneli.xlsx" download="csv.xlsx">          
                  <div class="hoverable2" >
                        <span class="hoverable2__main" style="margin-right: 25px;"></span>
                            <img src="/static/media/logo/csv.jpg" alt="" width="150" height="150">
                        </span>
                        <span class="hoverable2__tooltip">
                            Download data recorded between chosen dates as CSV file <br>
                        </span>
                </div>
                <input class="btn btn-outline-dark" type="submit" id="Download" name="Download"
                value="Download"  style="margin-left: 50px; ">
                </input>
                  </a> 
                </div>

               <div class="row" style="margin-top: 90px;  margin-left: 100px;">  
                    <form action="#" method="post" id="interval_form">
                        <label for="interval">Scan Interval:</label>
                        <select name="interval" id="interval">
                          <option value="60">60</option>
                          <option value="30">30</option>
                          <option value="15">15</option>
                          
                        </select>
                        <br><br>
                        <button class="btn btn-outline-dark" type="submit" id="set" name="set"
                                value="set" onclick = "showLoader()">set
                        </button>
                        
                      </form>
            </div> 
                </div>

            
            </div>

                <table id = "recordings" class="table table-borderless table-responsive">
                    <thead>
                    <tr class="border-bottom text-center">
                        <th scope="col">Name </th>
                        <th scope="col">Recording</th>
                        <th scope="col">Length</th>
                        <th scope="col">Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hist in hists %}
                    <tr class="border-bottom text-center">
                        <td>{{hist.name}}</td>
                        {% set file_name = hist.name +'.wav' %}
                        <td>
                            <audio controls>
                                <source src="{{ url_for( 'static' , filename= file_name ) }}" type="audio/wav">
                            </audio>
                        </td>
                        {% set second = hist.length%60 %}
                        {% set minute = (hist.length-second)/60 %}
                        <td>{{minute}} dk {{second}} sn</td>
                        <td class="hoverable">
                            
                            <span class="hoverable__main">
                                data is here
                            </span>
                            <span class="hoverable__tooltip">
                                {{hist.info}} 
                            </span>

                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</section>

<style>
    .hoverable{
        position: relative;
    }

    .hoverable>.hoverable__tooltip{
        display: none;

        }

    .hoverable:hover>.hoverable__tooltip{
            display: inline;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 30%;
            background-color: rgb(66, 66, 66);
            color: #fff;
            text-align: center;
            border-radius: 5px 5px;
            transition: opacity 1s ease-in-out;
        
        }

    .hoverable2{
        position: relative;
    }

    .hoverable2>.hoverable2__tooltip{
        display: none;

        }

    .hoverable2:hover>.hoverable2__tooltip{
            display: inline;
            position: absolute;
            z-index: 1;
            left: 30px;
            top: 70%;
            background-color: rgb(179, 255, 182);
            color: rgb(0, 163, 238);
            text-align: center;
            border-radius: 10px 10px;
            transition: opacity 1s ease-in-out;
        
        }


        
</style>

<script>
    
        const download = function (data) {
        
            // Creating a Blob for having a csv file format
            // and passing the data with type
            const blob = new Blob([data], { type: 'text/csv' });

            // Creating an object for downloading url
            const url = window.URL.createObjectURL(blob)

            // Creating an anchor(a) tag of HTML
            const a = document.createElement('a')

            // Passing the blob downloading url
            a.setAttribute('href', url)

            // Setting the anchor tag attribute for downloading
            // and passing the download file name
            a.setAttribute('download', 'download.csv');

            // Performing a download with click
            a.click()
        }

        const csvmaker = function (data) {

            // Empty array for storing the values
            csvRows = [];

            // Headers is basically a keys of an
            // object which is id, name, and
            // profession
             const headers = ['name', 'length', 'info'];

            // As for making csv format, headers
            // must be separated by comma and
            // pushing it into array
             csvRows.push(headers);

            // Pushing Object values into array
            // with comma separation
            const values = Object.values(data).join(',');
            csvRows.push(values)

            // Returning the array joining with new line
            return csvRows.join('\n')
        }

        const get = async function () {
            var data = '{{hists}}'
            const csvdata = csvmaker(data);          
            download(csvdata);
        }


    
</script>

{% endblock %}